{% extends 'basic.html' %}
{% block meta_desc %} welcome my coding site{%endblock %}
{% block meta_author %} M Rahman{% endblock %}
{% block title%}video | mCoder {% endblock %}
{% block css %}
{% endblock %}

{% block body %}
{% load static %}
<!-- categories section-->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center my-4">
        <img src="/static/img/git.png" alt="...">
        <h2>Git Starting for personal learning process</h2>
        <p>this tutorials for get overlock of git starting point</p>
        <a href="/video/details/" class="btn btn-outline-danger">for testing</a>
    </div>
       <div class="col-md-4 text-center my-4">
        <img src="/static/img/git.png" alt="...">
        <h2>Git Starting for personal learning process</h2>
        <p>this tutorials for get overlock of git starting point</p>
        <button type="button" class="btn btn-outline-danger">start now</button>
    </div>
       <div class="col-md-4 text-center my-4">
        <img src="/static/img/git.png" alt="...">
        <h2>Git Starting for personal learning process</h2>
        <p>this tutorials for get overlock of git starting point</p>
        <button type="button" class="btn btn-outline-danger">start now</button>
    </div>
</div>
  </div>
</section>

{% endblock %}
